@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.main{
    background-color: grey;
    height: 960px;
    display: flex;    
    align-items: center;
}

.text{
    position: absolute;    
    left: 12.5%;
    border-radius: 4px;
    font-family: "Anton", sans-serif;
    font-family: "Bebas Neue", cursive;
    font-size: 150px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    opacity: 0.8;        
    background: url("../assets/back.png");    
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    border-bottom: 10px solid white;
    border-top: 10px solid white;
    top: 100%;
}

.henry{
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-top: 8%;
  
}

.imgCertificado {
  background-size: cover;
}

.imgCertificado img {
  height: 350px;
}


@keyframes back {
    100% {
      background-position: 2000px 0;
    }
  }