@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');


.educationHeader{
  background: #0a323d;  
  height: 1200px; 
  display: flex;    
  flex-direction: column; 
  align-items: center;  
  max-width: 2500px;
}

.text{    
  margin-top: 4%;
  left: 12.5%;    
  font-family: "Anton", sans-serif;
  font-family: "Bebas Neue", cursive;
  font-size: 150px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  opacity: 0.8;        
  background: url("../assets/back.png");    
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  border-bottom: 10px solid white;
  border-top: 10px solid white; 
  padding: 1%;

}

.henry{
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
  margin-top: 5%;
}

.imgCertificado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  transition: all 2s ease;
  height: 100%;
  margin-top: 4.9%;
}

.imgCertificado h1 {
  display: flex;
  justify-content: center;
  color: white;
  margin-left: 2%;
 
  font-family: "Anton", sans-serif;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  letter-spacing: 12px;  
  width: 290px; 
  animation: animate 5s linear infinite;
  transition: initial;
}

.imgCertificado img {
  height: 440px;
  box-shadow: 8px 8px 12px black;
  transition: all 2s ease;
}

.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 1000px;
}

.skills h1 {  
  display: flex;
  color: #fff;  
  width: fit-content;
  font-family: "Anton", sans-serif;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  letter-spacing: 12px;
  animation: animate 5s linear infinite;
  transition: initial;
  margin-right: 20%;  
}

.firstRow{
  display: flex;
  flex-direction: row;
  display: flex;
  width: 100%;    
  margin-top: 1.5%;
}

.secondRow{
  display: flex;
  flex-direction: row;
  display: flex;
  width: 100%;
}

.skills h2{
  color: #fff; 
  font-family: 'Cutive Mono', monospace;
  font-size: 2rem;
  /* letter-spacing: 2px;   */
  margin-right: 56%;  
}

.skills img {
  position: absolute;
  height: 150px;
  margin-top: 23%;
  margin-left: 6%;  
}

@keyframes back {
    100% {
      background-position: 2000px 0;
    }
}

@keyframes animate {

  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% 
  {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% 
  {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
  }
}

