@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

.header{
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: rgba(0,0,0,.6);
}
.navBar {
    display: flex;
    justify-content: flex-end;
    color: antiquewhite;    
    transition: 1s ease;
}

.link {    
    margin-right: 3%;
    list-style:none; 
    text-decoration: none;     
    font-family: 'Cutive Mono', monospace;
    font-size: 1.3rem;   
    transition: 1s ease;
}

.linkActive {
    margin-right: 3%;
    list-style:none; 
    text-decoration: none;     
    font-family: 'Cutive Mono', monospace;
    font-size: 1.4rem;   
    border-bottom: 3px solid grey; 
    transition: 1s ease;
}