@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

.Navbar {
    /* background-color: black; */
    height: 50px;    
    display: flex;        
    justify-content: end;
    align-items: center;  
}

.link{
    margin-right: 3%;
    text-decoration: none;        
    font-family: 'Cutive Mono', monospace;
    font-size: 1.2rem;
}