.main{
    height: 860px;
    background: #0a323d;      
}

.title{
    position: relative;
    font-size: 6em;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 0 0 40px #03bcf4;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 5px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    outline: none;
    /* animation: animate 5s linear infinite;     */
}

.projects{
    display: flex;
    flex-direction: row;
}

.project1{
    display: flex;
    font-family: 'Cutive Mono', monospace;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 2%;    
    
}

.video {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 67%;
    height: 61%;   
    box-shadow: 2px 2px 8px black;
}

.project2{
    display: flex;
    font-family: 'Cutive Mono', monospace;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 5%;
}

.page {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 90%;
    height: 100%; 
    box-shadow: 2px 2px 8px black;
}

.page img{
    width: 100%;
    background-size: contain;
}

.deploy{ 
    margin-top: 3%;
    /* text-decoration: none; */
    font-family: 'Cutive Mono', monospace;
    color: black;
    font-size: 1.2em;
}




@keyframes animate {

    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% 
    {
      color: #0e3742;
      text-shadow: none;      
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% 
    {
      color: #fff;
      text-shadow: 0 0 10px #03bcf4,
      0 0 20px #03bcf4,
      0 0 40px #03bcf4,
      0 0 80px #03bcf4,
      0 0 160px #03bcf4;      
    }
  }